<%= render :partial => 'layouts/partials/jumbotron', :locals => { :heading => "List of all authors", :lead => "Here you can view authors. And add them. And edit. And delete. And whatnot." } %>

<div class="container authors">
	<% @authors.each do |author| %>
		<%= render('author', author: author) %>
	<% end %>
</div>
<hr>
<div class="container">
	<h2>Add a new author</h2>
	<%= form_for @author, remote: true do |f| %>
  	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control", placeholder: "Enter author's first name"%>
	</div>
	<div class="form-group">
		<%= f.label :surname %>
		<%= f.text_field :surname, class: "form-control", placeholder: "Enter author's surname" %>
	</div>
	<div class="form-group">
		<%= f.label :age  %>
		<%= f.number_field :age, class: "form-control", placeholder: "Enter author's age" %>
	</div>
	<div class="form-group">
		<%= f.submit 'Save', class: "btn btn-primary" %>
	</div>
	<% end %>
	Having problems? Try the <%= link_to "traditional form", new_author_path %>.
	<img class="loader" style="display: none" src="https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif">
</div>