<h1><%= "#{@author.fullname}" %></h1>
<hr>
<p>
	Name:
	<%= "#{@author.name}" %>
	<hr>
	Surname:
	<%= "#{@author.surname}" %>
	<hr>
	Age:
	<%= "#{@author.age}" %>
	<hr>
	Posts:
	<ul>
		<% @author.posts.each do |post| %>
			<li><%= link_to post.title, post_path(id: post.id) %></li>
		<% end %>
	</ul>
</p>

<%= link_to "Edit this author", edit_author_path(id: @author.id) %> | 
<%= link_to "Delete this author", author_path(id: @author.id), method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back to authors', authors_path %>