<div class="row align-items-center items-container__item" data-post-id="<%= post.id %>">
	<div class="col-sm-12 col-md-5"><%= link_to "#{post.title}", post_path(id: post.id) %></div>
	<div class="col-sm-12 col-md-1"><%= "#{post.comments.count}" %></div>
	<div class="col-sm-12 col-md-2"><%= "#{post.created_at}" %></div>
	<div class="col-sm-12 col-md-2"><%= "#{post.updated_at}" %></div>
	<div class="col-sm-12 col-md-1"><%= link_to "Edit", edit_post_path(id: post.id), class: 'btn btn-primary', role: 'button' %></div>
	<div class="col-sm-12 col-md-1"><%= link_to "Delete", post_path(id: post.id), class: 'btn btn-danger', remote: true, method: :delete, data: { confirm: "Do you really want to delete #{post.title}?" } %></div>
</div>