<%= render :partial => 'layouts/partials/jumbotron', :locals => { :heading => "#{@post.title}", :lead => "Enjoy this post." } %>

<div class="container">
	<p>
	On 	<%= "#{@post.created_at.strftime("%A, %dth of %B %Y")}" %>, <%= link_to "#{Author.find(@post.author_id).fullname}", author_path(Author.find(@post.author_id).id) %> wrote:
	</p>
	<p>
		<%= "#{@post.content}" %>
	</p>
	<hr> 
	<% if Comment.find_for_post(@post).any? %>
		<h2>Comments</h2>
		<% Comment.find_for_post(@post).each do |comment| %>
		<p><%= "#{comment.content}" %></p>
		<em><p><%= "-#{comment.commenter_name}, #{comment.created_at}" %></em>
		<% end %>
	<% else %>
			<h2>No comments yet :(</h2>
	<% end %>	
	<h2>Add a comment</h2>
	<%= render 'comments/form' %>
	<hr>
	<%= link_to 'ðŸ”™ Back to posts', posts_path , class: 'btn btn-secondary', role: 'button'  %>
	<%= link_to "âœï¸ Edit this post", edit_post_path(id: @post.id), class: 'btn btn-primary', role: 'button'  %>  
	<%= link_to "ðŸ—‘ Delete this post", post_path(id: @post.id), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-danger', role: 'button'  %> 
</p>