<h1><%= "#{@post.title}" %></h1>
<hr>
<p>
	Content:
	<%= "#{@post.content}" %>
	<hr>
	Author:
	<%= link_to "#{Author.find(@post.author_id).fullname}", author_path(Author.find(@post.author_id).id) %>
	<hr>
	Created at:
	<%= "#{@post.created_at}" %>
    <hr>
	Updated at:
	<%= "#{@post.updated_at}" %>
</p>

<%= link_to 'Back to posts', posts_path %>